# -----Depricated----
[Unit]
Description=pdf-editor for EC2

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/PDF-Editor/backEnd/
ExecStart=/home/ec2-user/PDF-Editor/backEnd/backend
Restart=always

[Install]
WantedBy=multi-user.target
