name: ImageScan [Aqua Trivy]

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]


permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results

    name: Build
    runs-on: "ubuntu-18.04"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build an image from Dockerfile
        run: |
          cd src/backend/merger
          docker build -t docker.io/my-organization/my-appm:${{ github.sha }} .
          cd ../rotator
          docker build -t docker.io/my-organization/my-appr:${{ github.sha }} .
          cd ../../frontend
          docker build -t docker.io/my-organization/my-appf:${{ github.sha }} .

      - name: Run Trivy vulnerability scanner(backend-merger)
        uses: aquasecurity/trivy-action@8bd2f9fbda2109502356ff8a6a89da55b1ead252
        with:
          image-ref: 'docker.io/my-organization/my-appm:${{ github.sha }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'

      - name: Run Trivy vulnerability scanner(backend-rotator)
        uses: aquasecurity/trivy-action@8bd2f9fbda2109502356ff8a6a89da55b1ead252
        with:
          image-ref: 'docker.io/my-organization/my-appr:${{ github.sha }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'

      - name: Run Trivy vulnerability scanner(frontend)
        uses: aquasecurity/trivy-action@8bd2f9fbda2109502356ff8a6a89da55b1ead252
        with:
          image-ref: 'docker.io/my-organization/my-appf:${{ github.sha }}'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
